* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* shared style */
.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    padding: 15px 25px;
    border: none;
    color: #Fff;
    font-size: 20px;
    font-weight: 600;
}
.text-title{
    color:#151414;
    font-size: 40px;
    font-weight: 700;
}

/* header style */
header {
    width: 100%;
    height: 100%;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.header-con {
    text-align: right;
    padding: 150px 200px 150px 700px;
}

.header-con h1 {
    max-width: 520px;
    color: #151414;
    font-size: 60px;
    font-weight: 700;
}

.header-con p {
    color: #444343;
    text-align: right;
    margin: 25px 0
}

/* main style */
.main-container {
    display: flex;
    align-items: center;
    padding: 100px 150px;
    gap: 80px;
    position: relative;
}

.main-colum .radius {
    position: absolute;
    width: 527.929px;
    height: 527.929px;
    border-radius: 500px;
    background: rgba(241, 91, 34, 0.20);
    top: 297px;
    z-index: -1;
    margin-left: 25px;
}

.main-colum2{
    padding-top: 120px;
}

.colum-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.colum-description{
    color: #444343;
    margin: 25px 0
}

.colum-list {
    list-style-type: circle;
}

.colum-list li {
    color: #444343;
    margin: 10px 0;
}
/* my plan style */